.site-page-header {
  background-color: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  height: 100px;
  justify-content: center;
}

.homeButton {
  background-color: #4caf50;
  stroke: black;
  border: transparent;
}

.homeButton:hover {
  background-color: #228a26;
}

.headerTitle {
  color: whitesmoke;
}

.headerOther {
  color: whitesmoke;
}

.headerImg {
  height: 75px;
  width: 75px;
  margin-top: calc((2%-75px) / 2);
  display: block;
  position: absolute;
  left: calc((20% - 75px) / 2);
  z-index: 100000;
}
.subtitle {
  padding: 0 2% 0 2%; /*horizontal padding*/
}

.hits {
  background-color: white;
  z-index: 1000;
  opacity: 1; 
  position: relative;
}

/*For web (s, m, l): Hide on xs screen*/
@media (max-width: 48em) {
  .web {
    display: none !important;
  }
}

/*For mobile (xs): Hide on small screen to large*/
@media (min-width: 48em) {
  .mobile {
    display: none !important;
  }
}

@media (min-width: 48em) and (max-width: 62em) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 62em) and (max-width: 75em) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 75em) {
  .hidden-lg {
    display: none !important;
  }
}
