.site-page-header {
  background-color: #bdc1f3ff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.homeButton {
  background-color: #4caf50;
  stroke: black;
  border: transparent;
}

.homeButton:hover {
  background-color: #228a26;
}

.headerTitle {
  color: whitesmoke;
}

.headerOther{
  color: whitesmoke;
}

.headerImg{
  justify-self: center;
  height: 75px;
  position: fixed;
  margin-top: -25px;
  margin-left: 37%;

}
.subtitle {
  padding: 0 2% 0 2%; /*horizontal padding*/
}

/*For web (s, m, l): Hide on xs screen*/
@media (max-width: 48em) {
  .web {
    display: none !important;
  }
}

/*For mobile (xs): Hide on small screen to large*/
@media (min-width: 48em) {
  .mobile {
    display: none !important;
  }
}

@media (min-width: 48em) and (max-width: 62em) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 62em) and (max-width: 75em) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 75em) {
  .hidden-lg {
    display: none !important;
  }
}
